*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}   
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


body{
  background: #E8CEBF;
  min-height : 100vh;
  height : 100vh;
}
